.dashboard {
    width: 62%;
    margin-right: 30px;
    margin-left: 360px;
    margin-top: 25px;
    position: absolute;
}

.dashboard h2 {
    color: #3d0268;
    margin-left: -95px;
}

.dashboard img {
    height: 200px;
    width: 540px;
    margin-left: -95px;
    margin-top: 20px;
    object-fit: cover;
    position: absolute;
    border-radius: 12px;
    z-index: 0;
}

.clock {
    z-index: 2;
    position: absolute;
    padding-top: 55px;
    /* padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; */
    width: 540px;
    height: 200px;
    margin-left: 265px;
    margin-top: 77px;
    border-radius: 12px;
    background-color: #3e026886;
    text-align: center;
}

.clock h1 {
    /* color: #3d0268; */
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.574);

    /* -webkit-text-stroke: 1.2px #fffdf2; */
}

.calendar {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 832px;
    position: relative;
    background-color: #310451;
}

